{#
    Button Square Component

    @type {include}
    @param {string} text - required
    @param {string} style
    @param {string} size
    @param {string} type
    @param {string} url
    @param {string} class
    @param {string} icon
    @param {string} attributes
    @param {integer} tabIndex - optional tab index value; default is 0. Use -1 to remove from tab order.
    @param {bool} rounded

    @example
    {% include '_components/buttons/button' with {
        text: 'Button text',
        style: 'white',
        type: 'button',
        url: '#',
        class: 'mt-10',
        icon: 'trustpilot',
        rounded: true
    } %}
#}

{% set style = style|default('green') %}
{% set type = type|default('button') %}
{% set url = url|default('#') %}
{% set icon = icon|default(null) %}
{% set tabIndex = tabIndex|default(0) %}
{% set rounded = rounded|default(false) %}
{% set size = size|default('medium') %}

{% switch style %}
    {% case 'green' %}
        {% set textClass = 'text-white group-hover:text-green group-focus-visible:text-green' %}
        {% set btnClass = 'border-green bg-green hover:bg-transparent group-hover:bg-transparent group-focus-visible:bg-transparent text-green border border-green' %}
    {% case 'green-outline' %}
        {% set textClass = 'text-green border-green group-hover:text-white group-focus-visible:text-white' %}
        {% set btnClass = 'border-green bg-transparent group-hover:bg-green group-focus-visible:bg-green text-white' %}
    {% case 'green-disabled' %}
        {% set textClass = 'text-[#A5A5A5] bg-[#0E0A2026]' %}
        {% set btnClass = 'border-green bg-green cursor-default' %}
    {% case 'white' %}
        {% set textClass = 'text-black group-hover:text-white group-focus-visible:text-white' %}
        {% set btnClass = 'border-green bg-white group-hover:bg-green group-focus-visible:bg-green' %}
    {% case 'white-outline' %}
        {% set textClass = 'text-white group-hover:text-green group-focus-visible:text-green' %}
        {% set btnClass = 'border-white bg-transparent group-hover:border-green group-focus-visible:border-green' %}
    {% default %}
        {% set textClass = 'text-black' %}
        {% set btnClass = 'border-gray-500 bg-gray-200' %}
{% endswitch %}

{% switch size %}
    {% case 'large' %}
        {% set buttonSize = 'py-[16px] px-[32px] text-base' %}
    {% case 'medium' %}
        {% set buttonSize = 'py-[12px] px-[32px] text-base' %}
    {% case 'small' %}
        {% set buttonSize = 'py-[8px] px-[24px] text-sm' %}
    {% default %}
        {% set buttonSize = 'py-[12px] px-[32px] text-base' %}
{% endswitch %}

{% set baseClass = '
    inline-flex
    items-center
    group
    relative
    cursor-pointer
    flex-shrink-0
    shadow-none
    duration-300
    outline-none
    font-semibold
    rounded-[60px]
' %}

{% set iconMap = {
    'arrow-right': 'fa-light fa-arrow-right',
    'arrow-left': 'fa-light fa-arrow-left',
    'arrow-up': 'fa-light fa-arrow-up',
    'arrow-down': 'fa-light fa-arrow-down',
    'arrow-up-right': 'fa-light fa-arrow-up-right',
    'chevron-up': 'fa-sharp fa-light fa-chevron-up',
    'chevron-down': 'fa-sharp fa-light fa-chevron-down',
    'chevron-left': 'fa-sharp fa-light fa-chevron-left',
    'chevron-right': 'fa-sharp fa-light fa-chevron-right',
    'minus': 'fa-light fa-minus',
    'plus': 'fa-light fa-plus',
    'plane': 'fa-solid fa-paper-plane',
    'xmark': 'fa-sharp fa-regular fa-xmark',
    'bars': 'fa-sharp fa-regular fa-bars',
    'search': 'fa-sharp fa-regular fa-magnifying-glass',
    'facebook': 'fa-brands fa-facebook',
    'x-twitter': 'fa-brands fa-x-twitter',
    'linkedin': 'fa-brands fa-linkedin',
    'instagram': 'fa-brands fa-instagram',
} %}
{% set selectedIcon = iconMap[icon]|default('') %}

<{{ type }}
    {{ type == 'a' ? ('href="' ~ url ~ '"')|raw }}
    class="{{ baseClass }} {{ btnClass }} {{ buttonSize }} {{ class|default('') }} js-button"
    {{ attributes|default('')|raw }}
    aria-label="{{ text|default('Button') }}"
    tabindex="{{ tabIndex }}"
    {{ target is defined and target|length ? 'target="_blank" rel="noreferrer noopener"' }}
>
    <div class="flex items-center gap-[10px] relative w-full duration-300 transition-colors {{ textClass }}">
        {{ text }}
        {% if selectedIcon %}
            <i class="{{ selectedIcon }} text-sm" aria-hidden="true"></i>
        {% endif %}
    </div>
</{{ type }}>